/* -----------------hover for navbar-------------- */

nav .nav-list li a::after {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
    transform: scale(0);
    transition: transform 0.5s ease;

}

nav .nav-list li a:hover:after {
    transform: scale(1);
}

nav .nav-list li a:hover {
    color: rgb(172, 172, 172);
}

.nav-button:hover {
    background-color: black;
    color: white;
    transition: 0.8s ease;
}

/* .image-one:hover{
transform: scale(1.1);
} */

.image-four:hover {
    transform: scale(1.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Avenir Next", "Avenir", sans-serif;

}

html body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

/* -----------------Navbar-------------- */

nav {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

nav .logo {
    font-size: 1.3rem;
    font-weight: 700;
}

nav .nav-list {
    display: flex;
    align-items: center;

}

nav .nav-list li {
    padding: 0.5rem;
    list-style: none;
}

nav .nav-list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

nav i {
    margin-left: 2rem;
    font-size: 1.5rem;
    display: none;
}

/* -----------------navbar contanier-------------- */

#nav-contanier {
    text-align: center;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-contanier .image-one {
    height: 15rem;
    margin-right: 2rem;
    /* transition: transform 0.5s;
    display: block; */
}

.nav-para {
    font-size: 1rem;
    font-weight: 700;
}

.nav-text .nav-paratow {
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#nav-contanier .nav-text h1 {
    font-weight: 700;

}

.nav-button {
    height: 3rem;
    width: 7rem;
    border-radius: 5rem;
    margin-top: 1rem;
    border: none;
    border: 1.2px solid black;
    font-weight: 700;
    cursor: pointer;
}

.nav-buttonone {
    background-color: black;
    height: 3rem;
    width: 7rem;
    border-radius: 5rem;
    margin-top: 1rem;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
} 

/* ------------------------------------------------------section one---------------------------------------------------------------- */

#section-one {
    height: 23rem;
    padding: 1rem;
    /* background: #05369e; */
}

.section-para {
    text-align: center;
    color: rgb(63, 63, 63);
    font-size: 14px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

#section-one .section-image-tow {
    height: 13rem;
    border-radius: 1rem;
    /* margin-right: 1rem; */

}


#section-one .section-contanier {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    gap: 2rem;
}

#section-one .countiner-one {
    height: 8rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1.5px solid black;
    text-align: center;
    padding: 12px;
    font-weight: 700;
}

h3 {
    padding-bottom: 0.5rem;
}

/* -----------------------------------------------section-tow-------------------------------------------------------------------------------- */
#section-tow {
    height: 25rem;
    /* background-color: red; */

}

#section-tow .section-contanier-tow {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

#section-tow .section-contanier-tow .contanier-one {

    height: 9rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 1.5px solid black;
    text-align: center;
    padding: 12px;
    /* margin-left: 2rem; */
    font-weight: 700;
}

#section-tow .section-contanier-tow .contanier-one .image-tow {
    height: 2rem;
}

/* ----------------------------------------------------------section-three----------------------------------------------------------------- */

#section-three {
    height: 30rem;
    /* background-color: rgb(240, 240, 76); */
}

#section-three .section-three-contanier {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#section-three .contanier-three {
    height: 22rem;
    width: 18rem;
    border: 1.5px solid rgb(2, 0, 0);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}


#section-three .contanier-three h3 {
    padding-top: 9px;
}

#section-three .contanier-three .image-four {
    height: 12rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    transition: transform 0.5s;
    display: block;
}

/* -----------------footer section one-------------- */

#footer-section {
    height: 25rem;
    padding: 1rem;
    text-align: center;
    /* background-color: red; */

}

#footer-section .footer-contanier {
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


#footer-section .footer-contanier .contanier-four {
    height: 5rem;
    width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.85rem;
    border: 1.5px solid black;
}

#footer-section .footer-contanier .contanier-four .image-five {
    height: 2rem;

}

#footer-section .footer-contanier .contanier-four .para {
    padding-left: 5px;
}

#footer-section .nav-list-tow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

#footer-section .nav-list-tow li {
    padding: 1rem;
    list-style: none;

}

#footer-section .nav-list-tow li a {
    text-decoration: none;
}

/* -------------------------------------------------------------------css for smalll screen--------------------------------------------------- */

@media (max-width: 600px) {


    /* -------------navbar--------------- */

    nav {
        background-color: rgb(11, 54, 52);
    }

    nav .nav-list {
        font-size: 1rem;
        display: none;
    }

    nav i {
        display: block;
        font-size: 2rem;

    }

    /* ----------------------------------------------------------------nav-contanier------------------------------------------------------- */
    #nav-contanier {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30rem;
        /* background-color: rgb(100, 100, 248); */

    }

    #nav-contanier .image-one {
        margin: 0rem auto 2rem;
    }


    /* ----------------------------------------------------section-one------------------------------------------------------------------------- */

    #section-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: coral; */
        height: 50rem;
    }


    #section-one .section-contanier {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 45rem;
    }

    #section-one .section-contanier .contanier-one {
        margin-top: 2rem;
    }

    #section-one .section-contanier .section-image-tow {
        margin-left: 1rem;
    }

    /* -------------------------------------------------------------------section-tow---------------------------------------------------------- */



    #section-tow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(78, 12, 165); */
        height: 50rem;
    }

    #section-tow .section-contanier-tow {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        height: 45rem;
    }

    /* --------------------------------------------------------------------section-three-------------------------------------------------------- */

    #section-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(36, 90, 240); */
        height: 75rem;
    }


    #section-three .section-three-contanier {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 70rem;
    }

    #section-three .section-three-contanier .contanier-three .image-four {
        margin-left: 2rem;
    }

}